* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
html {
  background: yellow
    url("https://cdn.pixabay.com/photo/2017/04/19/13/16/computer-2242264_1280.jpg")
    no-repeat fixed center;
}
header {
  text-align: center;

  color: white;
  font-size: xx-large;
  padding: 2%;
  border-radius: 20px;
}
header h1 {
  font-weight: bold;
  background-color: black;
  border-radius: 10px;
  padding: 2%;
}
body {
  background: rgb(0, 0, 0, 0.5);

  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
section {
  min-height: 270px;
  display: -webkit-flex;
  display: flex;
}
div.tasklist {
  text-align: center;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding-bottom: 1%;
}
div.action {
  margin: auto;
  text-align: center;
  padding-bottom: 2%;
}
div.icon {
  margin: 3%;
  text-align: center;
}
ul {
  padding: 1%;
  list-style-type: none;
}
input[type="text"] {
  width: 30%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: large;
  background-color: white;
  background-position: 10px 10px;

  padding: 12px 10px 12px 10px;
}
button {
  width: 12%;
  box-sizing: border-box;
  border: 2px solid rgb(5, 5, 5);
  border-radius: 4px;
  font-size: large;
  background-color: yellow;
  font-weight: bold;

  padding: 12px 10px 12px 10px;
}

li {
  margin: auto;
  width: 65%;
  margin-bottom: 2%;
  border: 2px solid #ccc;
  border-radius: 50px;
  font-size: large;
  background-color: lightgray;
  font-weight: bold;

  padding: 2%;
}
div.final {
  background: rgb(0, 0, 0);
  padding: 3%;
  bottom: 0;
  text-align: center;
  color: red;

  font-size: large;
}
